<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionSQL"
			 connectionString="Data Source=SRV-RUBFDES01\SQLEXPRESS;Initial Catalog=SSNF_MESA_AYUDA;User Id=sgongora;Password=sgongora2025#."
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
